:root {
    /* text/colors*/
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --blue-color: #2196F3;
    --white-color: #FFFFFF;
    --gray-color-60: rgba(255, 255, 255, 0.6);
    --gray-color-100: #F5F4FA;
    /* background */
    --main-background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --hero-backgroun-color: #2F303A;
    --footer-background-color: #2F303A;
    /* logo */
    --blue-logo-color: #2196F3;
    --white-logo-color: #FFFFFF;
    --black-logo-color: #000000;
}


body {
    background-color: var(--main-background-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    
}


/* Section */

.list {
    list-style: none;
}

.section-title {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}


/* Logo */
.logo {
    color: var(--blue-logo-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-black {
    color: var(--black-logo-color);
}

.logo-white {
    color: var(--white-logo-color);
}

/* site navigation */

.link {
    text-decoration: none;
}

.site-nav .link, 
.site-contacts .link {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
}

.site-nav .link:hover,
.site-contacts .link:hover,
.site-nav .link:focus,
.site-contacts .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}


/* hero */

.hero {
    background-color: var(--hero-backgroun-color);
}

.hero-title {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero .button {
    background-color: var(--blue-color);
    color: var(--white-color);
    font-family: inherit;
    border-radius: 4px;
    cursor: pointer;
}

/* features */

.feature-list .title {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.feature-list .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* team */
.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
}

/* сторінка портфоліо */

/* filter button list */

.filter-list .button {
    background-color: var(--secondary-background-color);
    border: none;
    border-radius: 4px;

    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}

.filter-list .button:hover,
.filter-list .button:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
}

/* Портфоліо */

.portfolio .link {
    text-decoration: none;
}

.portfolio-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.portfolio-name,
.portolio-text {
    text-decoration: none;
}

/* footer */

.footer {
    background-color: var(--footer-background-color);
}

.adress, 
.contact {
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer .adress {
    color: var(--white-color);
}
.footer .contact {
    color: var(--gray-color);
}

